<body>
    <% if (chats && chats.length > 0) { %>
        <div class="container">
            <h2>Nos chats disponibles à la réservation</h2>
            <ul>
                <% chats.forEach(chat => { %>
                    <li>
                        <strong><%= chat.nom %></strong> - <%= chat.race %> - <%= chat.age %> ans<br>
                        Caractère: <%= chat.caractere %><br>
                        Jouet préféré: <%= chat.jouet_prefere %><br>
                        Prix: <%= chat.prix %> €<br>
                        Description: <%= chat.description %><br>
                        <% if (chat.image) { %>
                            <img src="<%= chat.image %>" alt="<%= chat.nom %>" width="150">
                        <% } %>
                    </li>
                    <hr>
                <% }) %>
            </ul>
        </div>
    <% } else { %>
        <p>Aucun chat disponible pour le moment.</p>
    <% } %>
</body>
